@font-face {
    font-family: "Cardo";
    src: url("../fonts/макет.шрифты/Cardo/Cardo-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Cardo";
    src: url("../fonts/макет.шрифты/Cardo/Cardo-Bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Cardo";
    src: url("../fonts/макет.шрифты/Cardo/Cardo-Italic.ttf");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "CrimsonText";
    src: url("../fonts/макет.шрифты/Crimson\ Text/normal");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "CrimsonText";
     src: url("../fonts/макет.шрифты/Crimson\ Text/bold");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "CrimsonText";
    src: url("../fonts/макет.шрифты/Crimson\ Text/italic");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "FrankRuhlLibre";
    src: url("../fonts/макет.шрифты/FrankRuhlLibre/FrankRuhlLibre-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "FrankRuhlLibre";
     src: url("../fonts/макет.шрифты/FrankRuhlLibre/FrankRuhlLibre-Bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Vollkorn";
    src: url("../fonts/макет.шрифты/Vollkorn/Vollkorn-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Vollkorn";
     src: url("../fonts/макет.шрифты/Vollkorn/Vollkorn-Bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Vollkorn";
    src: url("../fonts/макет.шрифты/Vollkorn/Vollkorn-Italic.woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}



    