.footer {
    background-color: rgb(79, 44, 4);
    color: rgb(255, 255, 255); 
}
.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer__contacts .contacts__call {
    text-decoration: underline; 
    color: #ffffff;
}
.footer__contacts .contacts__call:hover{
    opacity: 0.5;
    color: hsl(32, 100%, 86%)
}
.footer__contacts .contacts__write {
    text-decoration: underline; 
    color: #ffffff;
}
.footer__contacts .contacts__write:hover{
    opacity: 0.5;
    color:hsl(32, 100%, 86%)
}
.politics__using {
    text-decoration: underline; 
    color: hsl(0, 0%, 100%); 
}
.politics__using:hover{
    opacity: 0.5;
    color:hsl(32, 100%, 86%)
}
.politics__privacy {
    text-decoration: underline; 
    color: #ffffff;
}
.politics__privacy:hover{
    opacity: 0.5;
    color:hsl(32, 100%, 86%)
}