.footer {
    background-color: rgb(79, 44, 4);
    color: rgb(255, 255, 255); 
}
.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contacts__call-2 {
    text-decoration: underline; 
    color: #ffffff;
}
.contacts__call-2:hover{
    opacity: 0.5;
    color: hsl(32, 100%, 86%)
}
.contacts__write-2 {
    text-decoration: underline; 
    color: #ffffff;
}
.contacts__write-2:hover{
    opacity: 0.5;
    color:hsl(32, 100%, 86%)
}
.links__using {
    text-decoration: underline; 
    color: hsl(0, 0%, 100%); 
}
.links__using:hover{
    opacity: 0.5;
    color:hsl(32, 100%, 86%)
}
.links__privacy {
    text-decoration: underline; 
    color: #ffffff;
}
.links__privacy:hover{
    opacity: 0.5;
    color:hsl(32, 100%, 86%)
}