div p {
    text-align: justify;
}
.gallery-charity__gallery h2 {
    color: black;
}
.dish__image {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(157, 103, 76);
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.dish__description {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(157, 103, 76);
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
.dish{
    display: block;
    padding: 10px;
    margin: 5px;
}
.dish{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.dish__description {
    width: 1000px;  /* Устанавливает ширину блока */
    height: 600px; /* Устанавливает высоту блока */
}

.dish__description {
    font-family: 'Vollkorn', serif;
    font-size: 22px;
    line-height: 30px;
    color: #ffffff;
}
.dish__menu{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 5px;
}
.dish__menu:hover{
    opacity: 0.5;
}
.reviews {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(157, 103, 76);
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.gallery-charity__charity {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(157, 103, 76);
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.charity__join{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 5px;
}
.charity__join{
    opacity: 0.5;
}