div p {
    text-align: justify;
}
.gallery h2 {
    color: rgb(86, 49, 13);
}
.dish__image {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(157, 103, 76);
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.dish__description {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(157, 103, 76);
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
.dish{
    display: block;
    padding: 10px;
    margin: 5px;
}
.dish{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.dish__description {
    width: 1000px;  /* Устанавливает ширину блока */
}

.dish__description {
    font-family: 'Vollkorn', serif;
    font-size: 22px;
    line-height: 30px;
    color: #ffffff;
}
.dish__menu{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 5px;
}
.dish__menu:hover{
    opacity: 0.5;
}
.reviews {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(157, 103, 76);
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.charity {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(157, 103, 76);
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.charity__join{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 5px;
}
.charity__join{
    opacity: 0.5;
}
.feedback{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
}
.feedback input{
    padding: 5px;
    border-radius: 8px;
}
.feedback textarea{
    padding: 5px;
    border-radius: 8px;
}
.feedback button{
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 5px;
    background-color: #b59281;
    color: white;
}

/*Секция Галереи*/
.images {
    width: 1220px; /*задаем ширину слайдера с карточками */
    margin-top: 20px; /*отступ сверху*/
    display: flex; /* Используем flexbox для выравнивания карточек в строку*/
    gap: 10px; /* промежуток между карточками */
    overflow: hidden;/* если содержимое выходит за пределы карточки, то скрытие лишнего */
    align-items: center; /* Выравниваем по центру по вертикали */
    position: relative;
}

.gallery__img {
    width: 360px; /*устанавливаем минимальную ширину для каждого изображения*/
    height: 420px;
}

.gallery__item {
    display: flex;
    width: 360px; /*устанавливаем ширину для каждого элемента*/
    transition: 0.3s ease; /* плавное изменение отображения длительностью 0.3 секунды */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
}

.gallery__button {
    position: relative; /* Для правильного позиционирования кнопок */
    display: flex; /* Используем flexbox для выравнивания кнопок */
    justify-content: space-between; /* Распределяем кнопки по краям */
    width: 100%; /* Занимаем всю ширину родителя */
    padding: 0 20px; /* Отступы от краев */
    box-sizing: border-box; /* Учитываем отступы в ширине */
}

.gallery__left, .gallery__right {
    background-color: rgb(157, 103, 76); /* Цвет фона кнопок */
    color: white; /* Цвет текста */
    border: none; /* Убираем рамку */
    border-radius: 50%; /* Делаем фон круглым */
    width: 50px; /* Ширина кнопок */
    height: 50px; /* Высота кнопок */
    font-size: 24px; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
    padding: 10px; /* Отступы для удобства нажатия */
}

.gallery__left:hover, .gallery__right:hover {
    background-color: rgb(108, 65, 43); /* Цвет фона при наведении */
}
/*Конец секции Галереи*/


/* Карусель Swiper как модальное окно */
.gallery h3 {
    color: rgb(86, 49, 13);
    text-align: center;
    font-weight: bolder;
}

.gallery__open-modal {
    background: none;
    border: none;
    color: rgb(136, 81, 27);
    text-decoration: underline;
    cursor: pointer;
}

.gallery__open-modal:hover {
    color: rgb(86, 49, 13); /* Цвет текста при наведении (например, красный) */
}

.gallery__modal {
    background-color: rgba(0, 0, 0, 0.8);
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.gallery__modal-content {
    position: relative;
    margin: 5% auto; /* Отступ сверху и снизу */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    max-width: 80%; /* Максимальная ширина */
    max-height: 80%; /* Максимальная высота */
    overflow: hidden; /* Скрыть переполнение */
    color: rgb(86, 49, 13);
    font-weight: bold;
}

.gallery__close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
}

.gallery__modal-img {
    height: 500px; /* Высота будет адаптироваться к содержимому */
    max-width: 86%; /* Максимальная ширина 86% от высоты */
    display: block; /* Для корректного отображения */
    margin: 0 auto; /* Центрируем изображение */
}

.swiper {
    width: 100%; /* Занимает всю ширину родителя */
    height: auto; /* Высота будет адаптироваться к содержимому */
}
/* Конец карусели Swiper как модальное окно */

